h1#abt {
    color: #98225F;
    font-family: sans;
    font-size: 75px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10.5px;
    padding-top: 5x;
}

p#abt {
    text-align: center;
    line-height: 0em;
    font-family: sans serif;
}

p#abt1 {
    text-align: center;
    font-family: sans serif;
}