body {
   /* background-image : url(../img/cnt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%
    background-attachment: fixed; */
    background-color: #EBEDF3;
}

.fm {
    margin-left: 77px;
    margin-right: 60px;
}

.cl {
   list-style: none;
   text-align: center;
}

ul.cl li {
    border-bottom: 1px solid #eeeeee;
    padding: 14px 22px;
    font-size: 15px;
    font-weight: bold;
}


ul.cl li a:hover {
    color: red;
    text-decoration: none;
}

.emai {
    background: url(../img/email.png) no-repeat center left;
}

.face {
    background: url(../img/fb.png) no-repeat center left;
}

.twit {
    background: url(../img/tw.png) no-repeat center left;
}

#footer{
	position: relative;
width: 100%;
height: 100;
top:123;
}