body, html {
    height: 100%;
    margin: 0;
}

.bg{
    background-repeat: no-repeat;
    height: 100%
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-image : url(../img/bg.jpg);
    background-attachment: fixed;
}

.nav {
    background-color: transparent;

}

.nav.navbar-nav.navbar-right li a {
    font-family : open sans;
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/*navbar brand >> Dhiraj Shah */
.nb {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.navbar-right {
    padding-right: 26px;
    padding-top : 25px;
}

.navbar-left {
    padding-left : 0;
    padding-top: 25px;
}

h1 {
  color: white;
  text-align: center;
}

h1#mbody {
    color: white;
}

p#intro {
    font-family: open sans;
    color: white;
    font-size: 15px;
    font-weight: inherit:
}

img {
    margin: 35px auto;
}


.footer {
    text-align : center;
    color : white;
    margin-top: 145px;
}

.footer a {
    color: white;
}

a:hover#finsta {
    color: #e95950;
}

a:hover#ffb {
    color: #3b5998
}

a:hover#ftwitter {
    color: #1dcaff;
}